<form #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label for="customeName">Cliente</mat-label>
    <input matInput name="customeName" [(ngModel)]="tiket.getCustomerView" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="assistant">Tecnico</mat-label>
    <mat-select
    #selAssistant
      name="assistant"
      [compareWith]="compareFn"
      [(ngModel)]="tiketAssignation.idAssistant"
      (selectionChange)="assistantChange()"
    >
      <mat-option *ngFor="let a of assistants" [value]="a._id">{{
        a.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="problemDescription">Incidencia</mat-label>
    <textarea
      name="problemDescription"
      matInput
      [(ngModel)]="tiket.problemDescription"
    ></textarea>
  </mat-form-field>

  <mat-slide-toggle color="primary"  [checked]="tiketAssignation.sendGreeting" matInput name="sendHi">
    Enviar saludo
  </mat-slide-toggle>

  <mat-form-field appearance="fill">
    <mat-label for="hi">Saludo</mat-label>
    <textarea name="hi" 
    [(ngModel)]="tiketAssignation.greeting"
    matInput>{{tiketAssignation.greeting}}
    </textarea>
  </mat-form-field>

  <button mat-raised-button color="primary">Guardar</button>
</form>
