.tiket-chat-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card-tiket
{
    margin-bottom: 20px;
    min-width: 300px;
}

app-chat
{
    display: flex;
    width: 100%;
}

.chat-container{
    display: flex;
    width: 100%;
    margin-top: 10px;
}