<div class="tiket-chat-container">
  <mat-card class="card-tiket" *ngIf="tiket">
    <div>
      <div>
        <mat-card-header>
          <mat-card-title>{{ tiket.contact?.name }}</mat-card-title>
          <mat-card-subtitle>{{ tiket.contact?.reference }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ tiket.problemDescription }}
            <mat-icon class="edit-description"
            [routerLink]="['../../' +routes.tiket_detail, tiket._id]">edit</mat-icon>
          </p>
          <p>Abierto: {{tiket.createdAt| date:'short'}}</p>
          <p>Cerrado: {{tiket.closedAt| date:'short'}}</p>
          <p>Duracion: {{duration.hours + ' horas ' + duration.minutes + ' minutos'}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="accent">Cerrar</button>
        </mat-card-actions>
      </div>
      <div>
        <ng-container *ngIf="tiket.assistant">
          <mat-chip color="primary">
            <mat-icon matChipAvatar>person</mat-icon>
            {{ tiket.assistant.name }}
          </mat-chip>
        </ng-container>
        <ng-container *ngIf="!tiket.assistant">
          <mat-chip
            color="warn"
            [routerLink]="['../' + routes.assign_tiket_assistant, tiket._id]"
          >
            <mat-icon matChipAvatar>person</mat-icon>
            Asignar Tecnico
          </mat-chip>
        </ng-container>
      </div>
    </div>
  </mat-card>

  <div class="chat-container" *ngIf="tiket && tiket.contact">
    <app-chat [contact]="tiket.contact"></app-chat>
  </div>
</div>
