.tiket-chat-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-tiket
{
    margin-bottom: 20px;
    min-width: 300px;
}

app-chat
{
    display: flex;
    flex-grow: 1;
}

.chat-container{
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
}

mat-chip
{
    margin-left: 10px;
}

.edit-description
{
    transform: scale(0.7);
}

mat-icon
{
    cursor: pointer;
}