mat-card
{
    margin-bottom: 10px;
    max-width: 400px;
    margin-left: 10px;
}

.message-date
{
    margin-left: auto;
    font-size: small;
}

a
{
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
}