mat-card
{
    margin-bottom: 10px;
    max-width: 400px;
    min-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}

.message-date
{
    margin-left: auto;
    font-size: small;
}

a
{
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
}

.assistant
{
    background-color: hsla(336, 99%, 37%, 0.28);
    margin-left: auto;
}