.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }


#btnNuevo
{
  margin: 10px;
}

.card-tiket {
  width: auto;
  margin: 10px;
  cursor: pointer;
}

.card-tiket-content
{
  display: flex;
  flex-wrap: wrap;
}

.card-info
{
  flex-grow: 1;
}

mat-chip
{
  margin: 5px;
}