<div class="demo-button-container">
  <button
    id="btnNuevo"
    mat-raised-button
    color="primary"
    [routerLink]="['../' + routes.tiket_detail, '']"
    class="demo-button"
  >
    Nuevo Tiket
  </button>
</div>

<mat-card class="card-tiket" *ngFor="let t of tikets" [routerLink]="['../' +routes.tiket_detail, t._id]">
  <div class="card-tiket-content">
    <div class="card-info">
      <mat-card-header>
        <mat-card-title>{{
          t.customeName && t.customeName != ""
            ? t.customeName
            : t.customeWhatsappId
        }}</mat-card-title>
        <mat-card-subtitle>{{ t.customeWhatsappId }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ t.problemDescription }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="accent">Cerrar</button>
      </mat-card-actions>
    </div>
    <div>
      <ng-container *ngIf="t.assistant">
        <mat-chip color="primary">
          <mat-icon matChipAvatar>person</mat-icon>
          {{t.assistant.name}}
        </mat-chip>
      </ng-container>
      <ng-container *ngIf="!t.assistant">
        <mat-chip color="warn" [routerLink]="['../' + routes.assign_tiket_assistant,t._id]">
          <mat-icon matChipAvatar>person</mat-icon>
          Asignar Tecnico
        </mat-chip>
      </ng-container>
    </div>
  </div>
</mat-card>
